.order-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.order-list a {
    flex: 1 1 calc(100% - 1rem);
    max-width: 100%;
    text-decoration: none;
}

@media (min-width: 768px) {
    .order-list a {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}
